* {
    margin: 0px;
}

header {
    padding: 3%;
}

.instruct {
   padding: 30px; 
}

.instruct > h3 {
    margin-bottom: 5px;
    text-decoration: underline;
}

header>h1 {
    text-align: center;
    padding-top: 5%;
}

#gameBoard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px black solid;
    width: 80%;
    margin: 0 auto;

}

.tower {
    display: flex;
    flex-direction: column-reverse;
    width: 33%;
    align-items: center;
    height: 400px;
    background-color: beige;
    border: 2px black solid;
}

#d1 {
    background-color: red;
    width: 50px;
    border: solid;
    border-radius: 7px;
}

#d2 {
    background-color: blue;
    width: 150px;
    border: solid;
    border-radius: 7px;
}

#d3 {
    background-color: green;
    width: 250px;
    border: solid;
    border-radius: 7px;
}

#d4 {
    background-color: yellow;
    width: 350px;
    border: solid;
    border-radius: 7px;
}

.disc {
    height: 30px;
    border: solid;
    border-radius: 7px;
}

#moveCountDiv {
    border: solid 1px;
    width: 20%;
}